.header {
  text-align: center;
  color: lightblue;
}

.sandwich-grid {
  font-family: sans-serif;
  color: lightgreen;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 55% 40%;
  grid-column-gap: 10px;
  grid-row-gap: 5%;
  padding: 10px;
  font-size: 90%;
}
.sandwich-grid div {
  padding: 20px 0;
  font-size: inherit;
}
.sandwich-grid img{
  height: 50%;
  width: 100%;
}
.about-me  {
  font-family: monospace;
  color: black;

}
.slogan {
  font-style: italic;
  font-size: 20px;
  color: red;
}
.about-me img {
  margin-right: 10px;
  height: 100px;
  float: left;
}
